ANGGARAN DASAR
PAGUYUBAN WARGA TENJO CITY RESIDENCE 3



MUKADIMAH
Untuk mewujudkan kerukunan dan kekompakan serta mengukuhkan tali persaudaraan dan silaturahmi antara warga Tenjo City Residence 3 dengan lingkungan sekitarnya dan dengan harapan agar terbentuknya Paguyuban ini dapat menjembatani komunikasi yang baik serta terjalinnya harmonisasi dan menghilangkan kesenjangan khususnya dilingkungan perumahan Tenjo City Residence 3 untuk itu diperlukan arah dan tujuan dari Paguyuban ini yaitu :
Visi :
Membangun kekompakan khususnya antara Warga Tenjo City Residence 3 dan umumnya dengan wilayah sekitar perumahan agar terjalin silaturahmi dan persaudaraan.
Misi :
1.Berpartisipasi aktif sebagai warga Tenjo City Residence 3 untuk mewujudkan perumahan yang Aman, Nyaman, Bersih dan Tentram.
2.Bertoleransi antara seluruh warga Tenjo City Residence 3 karena keberagaman Suku, Sosial, Agama agar terciptanya kerukunan di Perumahan Tenjo City Residence 3












BAB I
NAMA, WAKTU, WILAYAH KERJA DAN TEMPAT KEDUDUKAN


Pasal 1
Nama
a.Paguyuban ini bernama “Paguyuban Warga Tenjo City Residence 3”
b.Yang dimaksud dengan Paguyuban ini adalah kelompok atau kumpulan orang- orang warga yang memiliki hak secara sah atas rumah didalam satu perumahan dan dengan sadar membutuhkan wadah sementara sebagai penjembatan antara seluruh warga dengan kelompok atau instansi-instansi yang bersangkutan dengan warga pada perumahan tersebut. Sedangkan yang dimaksud dengan Paguyuban Warga Tenjo City Residence 3 yaitu Wadah organisasi yang terbentuk secara sah dan demokratis melalui tahapan pemilihan yang diselenggaran  oleh Warga Tenjo City Residence 3 secara terbuka dan berkeadilan.

Pasal 2
Waktu
Paguyuban Warga Tenjo City Residence 3 didirikan pada tanggal 4 September 2022 dengan memiliki masa bakti : September 2022 hingga September 2023.


Pasal 3
Cakupan Wilayah dan Tempat Kedudukan
a.Paguyuban Warga Tenjo City Residence 3 memiliki cakupan otoritas diseluruh wilayah perumahan Tenjo City Residence 3, Desa Singabangsa, Kecamatan Tenjo, Kabupaten Bogor, Propinsi Jawa barat.
b.Alamat sementara sekretariat Paguyuban Tenjo City Residence 3 yaitu berkedudukan di kediaman rumah Ketua Paguyuban Tenjo City Residence 3 yang tepatnya di Blok L5 No 7 dengan No. HP : 0857-1616-8143



BAB II
ASAS, SIFAT DAN TUJUAN


Pasal 4
Asas
Paguyuban Warga Perumahan Tenjo City Residence 3 berasaskan Pancasila dan UUD 1945.


Pasal 5
Sifat
Paguyuban Warga Tenjo City Residence 3 bersifat Gotong Royong dan terhimpun dalam satu wadah yaitu Paguyuban.

Pasal 6
Tujuan
Tujuan dibentuknya Paguyuban adalah :
1.Menjembatani komunikasi antara Warga Tenjo City Residence 3 dengan Pihak Developer Perumahan dan organisasi atau instansi terkait perumahan dan di sekitar wilayah perumahan Tenjo City Residence 3.
2.Sebagai wadah demi terciptanya Perumahan yang kondusif, Aman, Nyaman, Bersih dan Teratur
3.Berusaha untuk mendirikan Rukun Tetangga dan Rukun Warga yang legal yang tercatat di Kantor Desa Singabangsa









BAB III
FUNGSI DAN KEGIATAN

Pasal 7
Fungsi
Fungsi Paguyuban Tenjo City Residence 3 adalah sebagai Fungsi sementara pengganti Rukun Tetangga dan Rukun Warga yang belum terbentuk secara legal dan tercatat di balai Desa Singabangsa.

Pasal 8
Kegiatan

Bentuk kegiatan yang dilakukan oleh Paguyuban Warga Tenjo City Residence 3 adalah serangkaian kegiatan yang telah disepakati oleh Jajaran Pengurus Paguyuban yang sah yang tertuang dalam  “Rencana Kegiatan Paguyuban Warga Tenjo City Residence 3 Periode September 2021 hingga September 2022”, (Detail terlampir)


















BAB IV
KEANGGOTAAN DAN KETENTUAN

Pasal 9
Keanggotaan
Yang di maksud dengan anggota Paguyuban Warga Tenjo City Residence 3 yaitu Warga yang sah sebagai pemilik rumah di Perumahan Tenjo City Residence 3 dan terdata di “Data Base Paguyuban Warga Tenjo City Residence 3” (Detail Terlampir).

Pasal 10
Ketentuan

Ketentuan mengacu pada peraturan yang disepakati oleh Jajaran Pengurus Paguyuban Warga Tenjo City Residence 3 yang tertuang pada “Ketentuan Peraturan Tata Tertib Lingkungan Perumahan Tenjo City Residence 3” (Detail Terlampir)



















BAB V
KEWAJIBAN DAN HAK ANGGOTA

Pasal 11
Kewajiban

Kewajiban Anggota Paguyuban Warga Tenjo City Residence 3 adalah Setiap anggota wajib menaati aturan-aturan yang telah di buat dan disepakati oleh Jajaran Pengurus  Paguyuban Warga Tenjo City Residence 3

Pasal 12
Hak Anggota

Setiap anggota Paguyuban Warga Tenjo City Residence 3 berhak mendapatkan sebagai berikut :
1.Informasi setiap kegiatan yang dilakukan oleh Paguyuban Warga Tenjo City Residence 3 yang tertuang didalam “Rencana Kegiatan Paguyuban Warga Tenjo City Residence 3 Periode September 2021 hingga September 2022”
2.Pelayanan yang menyangkut tugas dan fungsi Paguyuban Tenjo City Residence 3















BAB VI
PENGURUS

Pasal 13
Pengurus
Yang dimaksud dengan Pengurus Paguyuban Tenjo City Residence 3 adalah Jajaran Sturktural yang ditunjuk langsung oleh Ketua Paguyuban Tenjo City Residence 3 terpilih, hasil dari proses demokrasi pemilihan umum Ketua Paguyuban Perumahan Tenjo City Residence3 periode September 2022 hingga September 2023.

Pasal 14
Kewajiban Pengurus
Berikut Kewajiban-kewajiban Pengurus Paguyuban Tenjo City Residence 3 sebagai berikut :
1.Pengurus wajib memberikan informasi kegitan-kegitan yang akan di lakukan dimasa periodenya sesuai dengan “Rencana Kegiatan Paguyuban Warga Tenjo City Residence 3 Periode September 2021 hingga September 2022”
2.Pengurus wajib memberikan laporan pelaksanaan di setiap kegiatannya
3.Bentuk dari transparansi untuk itu pengurus wajib memberikan laporan anggaran cash flownya di setiap bulannya kepada seluruh warga Tenjo City Residence 3
4.Pengurus wajib memberikan pelayanan primanya kepada setiap Warga Tenjo City Residence 3 yang sudah mengisi google form Pengaduan Warga yang sudah dibuat oleh pengurus Paguyuban Tenjo City Residence 3
5.Jika Pada point 1 hingga 4 diatas tidak dilaksanakan maka Warga berhak menegur dan pengurus dapat di berhentikan atau diminta mundur dari Jajaran Struktural Paguyuban Tenjo City Residence 3.








Pasal 15
Masa Jabaran Pengurus
a.Masa Jabatan Pengurus Paguyuban Tenjo City Residence 3 yaitu per September 2022 hingga September 2023
b.Pengurus Paguyuban sebelumnya wajib membuat rapat atau musyawarah untuk rencana pemilihan umum Paguyuban berikutnya dan sepenuhnya rapat tersebut dipimpin dan dijalankan oleh Warga Tenjo City Residence 3 dan tidak di intervensi oleh Pengurus Paguyuban sebelumnya. Rapat Pemilihan umum pengurusan berikutnya diselenggarakan satu bulan sebelum masa jabatan berakhir
c.Pengurus Paguyuban yang lama boleh dipilih kembali jika Warga Tenjo City Residence 3 menginginkan

Pasal 16
Waktu Pertemuan
Agenda rapat kerja (waktu pertemuan) pengurus Paguyuban Tenjo City Residence 3 tertuang didalam “Time Schedule kerja Pengurus Paguyuban Tenjo City Residence 3” (Detail Terlampir)

BAB VII
DANA

Pasal 17
Pendanaan
Sumber dana kegiatan Paguyuban Tenjo City Residence 3 berasal dari Kumpulan dana Warga Tenjo City Residence 3 yang besarnya disepakati oleh seluruh Jajaran Pengurus Paguyuban Tenjo City Residence 3 dan tersimpan di account Bank Paguyuban (bukan perorangan) dan dilaporkan ke pada Warga Tenjo City Residence 3 di setiap bulannya selama periode kepengurusan berlangsung.






BAB VIII
PENUTUP

Pasal 18
Penutup

a.Hal-hal yang belum diatur dalam Anggaran Dasar ini akan diatur lebih lanjut dalam Anggaran Rumah Tangga dan ketentuan lainnya yang tidak boleh bertentangan dengan Anggaran Dasar Paguyuban.
b.Dengan disahkan Anggaran Dasar Paguyuban ini, maka segala ketentuan dan peraturan yang bertentangan dengan Anggaran Dasar ini dinyatakan tidak sah.
















Demikian Anggaran Dasar Paguyuban Warga Tenjo City Residence 3 ini dibuat dengan sebenar-benarnya sebagai pedoman pelaksanaan kerja Paguyuban dan apabila terdapat kesalahan typo dalam penulisan atau perlu dilakukan penambahan atau pengurangan maka sepenuhnya dilaksanakan kembali rapat seluruh Jajaran Struktural Paguyuban Tenjo City Residence 3.
